table, td, th {
    border: thin solid black;
    border-color: lemonchiffon;
    text-align: left;
    margin: 10px 0;
}

div.load {
    color: red;
    margin: 10PX 0;
    font-weight: bold;
}

div.ajaxLink {
    margin-top: 10px;
    margin-right: 5px;
    float: left;
}
